# Для mariadb 10.4 и выше

# Справка по параметрам https://mariadb.com/kb/en/full-list-of-mariadb-options-system-and-status-variables/

bind-address=127.0.0.1
skip-name-resolve

# https://timeweb.com/ru/community/articles/kak-uskorit-rabotu-mysql-i-snyat-nagruzku-s-diskovoy-podsistemy-1
# Профилирование нагрузки на файловую систему https://habr.com/post/165855/

general_log=OFF
general_log_file=/var/log/mariadb/general.log

log_error=/var/log/mariadb/error.log

slow_query_log=OFF
slow_query_log_file=/var/log/mariadb/slow.log
long_query_time=3 # https://mariadb.com/kb/en/server-system-variables/#long_query_time

log_output=FILE # https://mariadb.com/kb/en/server-system-variables/#log_output

# thread_cache_size=256
# max_connections=1000

key_cache_division_limit=80

query_cache_size=5M
query_cache_limit=200K
query_cache_type=ON

# https://mariadb.com/kb/en/query-cache-information-plugin/
query_cache_info=ON

key_buffer_size=500M # Как можно больше myisam
sort_buffer_size=15M

max_allowed_packet=50M
tmp_table_size=100G
max_heap_table_size=500M

innodb_buffer_pool_size=500M  # Как можно больше
innodb_file_per_table=1
innodb_strict_mode=ON
innodb_default_row_format=dynamic
innodb_sort_buffer_size=60M
innodb_log_file_size=500M  # Важно выставить размер побольше при интенсивной записи, слишком большое значение тоже вредно
innodb_defragment=ON
innodb_log_buffer_size=256M                    
innodb_flush_log_at_trx_commit=2   # https://highload.today/innodb_flush_log_at_trx_commit-i-rekomenduemye-znacheniya/

innodb_compression_default=OFF
innodb_compression_algorithm='zlib'
innodb_compression_level=3

myisam_repair_threads=1

myisam_max_sort_file_size=300G
myisam_sort_buffer_size=1000M

aria_pagecache_buffer_size=500M
aria_repair_threads=1

transaction_isolation=READ-COMMITTED

group_concat_max_len=10M

# https://laracasts.com/discuss/channels/tips/mariadb-utf8mb4-and-string-indexes-hitting-the-error-specified-key-was-too-long-max-key-length-is-767-bytes
character_set_server=utf8
lower_case_table_names=1

ft_min_word_len=1
ft_stopword_file=""
innodb_ft_min_token_size=1
innodb_ft_server_stopword_table=OFF

#socket=mysql.sock

plugin_load_add=ha_federatedx
plugin_load_add=ha_rocksdb
plugin_load_add=ha_mroonga
plugin_load_add=ha_sphinx





