[Desktop Entry]
Comment[ru]=
Comment=
Exec=/home/stas/Disk_WD/Обработка/СборкаВидеоБрутфорс/ВидеоВАнимированный_PNG_GIF.sh
GenericName[ru]=
GenericName=
Icon=/home/stas/Обработка/СборкаВидеоБрутфорс/Файлы/Значок.svg
MimeType=
Name[ru]=
Name=
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
