[Desktop Entry]
Comment[ru]=
Comment=
Exec=$HOME/Обработка/СборкаВидеоБрутфорс/КонвертацияВидео.sh
GenericName[ru]=
GenericName=
Icon=/home/stas/Обработка/СборкаВидеоБрутфорс/Файлы/Значок.svg
MimeType=
Name[ru]=
Name=
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
