[Desktop Entry]
Comment[ru]=
Comment=
Exec=$HOME/Обработка/СборкаВидеоБрутфорс/ОбрезкаФотоИДлиннопост.sh
GenericName[ru]=
GenericName=
Icon=/home/stas/Обработка/СборкаВидеоБрутфорс/Файлы/Значок.svg
MimeType=
Name[ru]=
Name=
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
