[server]
#slow_query_log_file = /var/log/mariadb/slow_query_log
#slow_query_log = true
#slow_launch_time = 1
#general_log_file = /var/log/mariadb/sql_query.log
#general_log = true
log_error=/var/log/mariadb/error.log
log_output = FILE

innodb_file_per_table

myisam_sort_buffer_size=100M
key_buffer_size=100M

bind-address = *

skip-name-resolve

thread_cache_size=15
table_open_cache=1000

default-storage-engine=myisam

# this is only for the mysqld standalone daemon
[mysqld]
# this is only for embedded server
[embedded]
# This group is only read by MariaDB-5.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mysqld-5.5]
# These two groups are only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]
[mariadb-5.5]

